/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box
}

html, body {
    height: 100%;
}

body {
    background-color: white;
    color: rgba(0,0,0,.86);
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
}

